/*
--- 01 Typography System
-Font Size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


-Font Family
Google Font : 'Open Sans'
default : sans-serif

-Font Weight
default : 400
heading-primary : 700

-Line Height
default : 1
heading-primary : 1.1

--- 02 Color
background : #212121;
text-color : #fff
btn-color: #2CF000;
secondary btn : #49FFD1;

--- 03 Shadow



--- 04 Border Radius
default : 9px;


--- 05 White Space

-Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    /* scroll-behavior: smooth; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background-color: #212121;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    border-bottom: .3rem solid #000;
    /* overflow-y: hidden; */
}
/* ------------------------ General Component ------------------------ */
.container{
    max-width: 120rem;
    margin: 0 auto;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #2CF000);
    border-radius: .6rem;
}
.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}
.grid--2--cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols{
    grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols{
    grid-template-columns: repeat(5,1fr);
}
.grid--center-v{
    align-items: center;
}

.btn{
    display: inline-block;
    border: 2px solid #000;
    /* padding: 1rem 2rem; */
    color: #fefefe;
    background-color: #212121;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 40px;
    -webkit-box-reflect: below 2px linear-gradient(transparent,rgba(0, 0, 0, 0.151));
}
.btn::before{
    content: '';
    position: absolute;
    width: 130px;
    height: 70%;
    background-color: #2CF000;
    top: 3px;
    left: -5px;
    animation: rotate 3s linear infinite;
    /* transform: translate(-50%,-50%); */
}
.btn::after{
    content: '';
    position: absolute;
    background-color: #212121;
    inset: 2px;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.btn-contact:active,
.btn-contact:hover{
    box-shadow: 0 0 4rem #2CF000;
    transition: all .5s;
    
}
.moving-cta{
    color: inherit;
    font-weight: 500;
    text-shadow: 0 0 1rem;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.cv-download{
    margin-top: 4.4rem;
    background-color: #212121;
}
.cv-download a{
    position: absolute;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background-color: #444;
    letter-spacing: .1rem;
    padding: 1rem 2rem;
    transition: all .5s;
}
.cv-download a:hover{
    letter-spacing: .2rem;
    background-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 3.5rem var(--clr);
}
.cv-download a::before{
    content: '';
    background-color: #212121;
    inset: 2px;
    position: absolute;
}
.cv-download a span{
    position: relative;
    z-index: 1;
}
.cv-download a i{
    position: absolute;
    inset: 0;
    display: block;
}
.cv-download a i::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: .5rem;
    border: .2rem solid #fff;
    left: 80%;
    top: -4px;
    transition: .5s;
}
.cv-download a:hover i::before{
    width: 2rem;
    left: 10%;
}

.cv-download a i::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: .5rem;
    border: .2rem solid #fff;
    left: 10%;
    bottom: -4px;
    transition: .5s;
}
.cv-download a:hover i::after{
    width: 2rem;
    left: 80%;
}
/* .bubbles{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.bubbles span{
    width: 5px;
    height: 5px;
    background: #2CF000;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 1rem;
    animation: animate 10s linear infinite;
    animation-duration: calc(500s/ var(--i));

}

@keyframes animate{
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(-10vh);
    }
} */

/*---------------------- Preloader----------------------*/

#preloader{
    background-color: #212121;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status{
    width: 10rem;
    height: 10rem;
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
}
#status img{
    width: 100%;
}

/* #status p{
    font-size: 1.4rem;
    position: absolute;
    padding-top: 5rem;

} */
/* 
.disappear{
    animation: vanish 1s forwards;
}
@keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }
} */
/*---------------------- Header and nav ----------------------*/
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    /* transition: all .4s; */
}
.header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    background: #1a1a1a;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #373737;
    box-shadow: 0 0rem .5rem #49FFD1;;
}
.logo{
    font-size: 3rem;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
.logo span{
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow{
    0%,100%{
        color: #2CF000;
        text-shadow: 0 0 1.2rem;
    }
    10%, 90%{
        color: #000;
    }
}
.logo span:nth-child(2){
    animation-delay: 0.25s;
}
.logo span:nth-child(3){
    animation-delay: 0.5s;
}
.logo span:nth-child(4){
    animation-delay: .75s;
}
.logo span:nth-child(5){
    animation-delay: 1s;
}
.logo span:nth-child(6){
    animation-delay: 1.25s;
}
.logo span:nth-child(7){
    animation-delay: 1.5s;
}
.logo span:nth-child(8){
    animation-delay: 1.75s;
}
.logo span:nth-child(9){
    animation-delay: 2s;
}
.nav-list{
    list-style: none;
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
}

.nav-link:link,
.nav-link:visited{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .7s;
    
}
.nav-link::after{
    content: "";
    width: 0;
    height: 2px;
    margin: auto;
    background-color: #2CF000;
    display: block;
    transition: all .7s;
    margin-top: 1rem;
    box-shadow: 1px 1px 4px #2CF000;
}
.nav-link:hover::after,
.nav-link:active,
.nav-link:hover{
    color: #2CF000;
    width: 100%;
}
.mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.icon-mobile{
    width: 4.8rem;
    height: 4.8rem;
    color: #fefefe;
}
.icon-mobile[name="close-outline"]{
    display: none;
}
/*---------------------- Hero Section ----------------------*/
.hero-section{
    width: 100%;
    height: 100vh;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 9.6rem;
}
.hero-text-box{
    padding: 12.8rem 4.4rem 0rem;
}
.multi-text{
    /* color: #B5CFED; */
    color: #2CF000;
}
.hero-img{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* filter: grayscale(40%); */
    position: relative;
}
.hero-img img{
    width: 80%;
    display: block;
    align-self: center;
    justify-self: center;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    0%{
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2rem);
    }
}
#splash{
    position: absolute;
    width: 120%;
    top: 15%;
    right: 0%;
    bottom: 0;
    /* transform: rotate(360deg); */
    /* height: 100%; */
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-5rem);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-5rem);
    }
}
.intro{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.my-name{
    font-size: 2.4rem;
    color: #2CF000;
    font-weight: 700;
    text-shadow: 0 0 2rem;
}
.primary-heading{
    font-size: 4.4rem;
    margin: 1.6rem 0;
    color: #fefefe;
    text-shadow: 0 0 1rem;
}
.hero-description{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
    color:#ffffffe7;
    line-height: 1.7;
    margin-top: 2.4rem;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 4rem;
    position: relative;
    border-radius: 9px;
}

.social li a:link,
.social li a:visited{
    color: #fefefe;
    cursor: pointer;
    font-size: 3rem;
    transition: all .5s;
}
.facebook-icon i:active,
.facebook-icon i:hover{
    transform: translateY(-.3rem);
    transition: all .5s;
    color: #1877f2;
}
.facebook-icon i:active,
.facebook-icon i:hover{
    transform: translateY(-.3rem);
    transition: all .5s;
    color: #1877f2 ;
}
.instagram-icon i:active,
.instagram-icon i:hover{
    transform: translateY(-.3rem);
    transition: all .5s;
    color: #d8360d;
}
.github-icon i:active,
.github-icon i:hover{
    transform: translateY(-.3rem);
    transition: all .5s;
    color: #fff;
}
.linkin-icon i:active,
.linkin-icon i:hover{
    transform: translateY(-.3rem);
    transition: all .5s;
    color: #1877f2;
}
/*---------------------- section-about ---------------------*/
.section-about{
    padding:9.6rem 0;
    background-color: #1e1e1e;
    width: 100%;
}

.about-description{
    width: 100%;
    padding: 9.6rem 0;
}

.sub-heading{
    font-size: 2rem;
    font-family: inherit;
    color: #2CF000;
    text-shadow: 0 0 .5rem;
    margin-bottom: 1rem;
}
.secondary-heading{
    font-size: 2rem;
    font-weight: 600;
    color: #fefefeec;
    margin-bottom: 4rem;
    line-height: 1.1;
}
.myself{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f1f1f1;
    text-shadow: 0 0 .1rem;
    border-bottom: 2px solid #1e7a0a;
    padding-bottom: 2rem;
}

.about-img img{
    justify-self: center;
    align-self: center;
    margin-right: 5rem;
    animation: animate 3s linear infinite;
    filter: brightness(90%);
    padding: 9.6rem 0;
}
@keyframes animate{
    0%{
        transform: translateX(-1rem);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1rem);
    }
}

/*---------------------- section-project ---------------------*/
.section-project{
    padding: 9.6rem 0;
    /* text-align: center; */
}
.project-main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.6rem;
}
.project-heading{
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 3.6rem;
}
.project-para{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #f1f1f1;
    text-shadow: 0 0 .1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.project-container{
    padding: 3.6rem 0;
}
.project-content{
    padding: 0 1.5rem;
}
.project-img{
    width: 26.5rem;
    border-radius: .5rem;
    justify-self: center;
}

.project-title{
    font-size: 2rem;
    color: #49FFD1;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 0 .5rem;
    margin-bottom: 3rem;
}
.project-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
}

.cv-download .project-btn i::before{
    left: 90%;
    top: -1.35rem;
}
.cv-download .project-btn:hover i::before{
    left: -8%;
}

.cv-download .project-btn i::after{
    left: -8%;
    bottom: -1.35rem;
}
.cv-download .project-btn:hover i::after{
    left: 80%;
}
.swiper-wrapper{
    padding-bottom: 9.6rem;
}
.swiper-button-next{
    color: #2CF000;
    text-shadow: 0 0 1rem;
}
.swiper-button-prev{
    color: #2CF000;
    text-shadow: 0 0 1rem;
}
.swiper-pagination{
    --swiper-theme-color: #2CF000;
}

/*---------------------- section-Skill ---------------------*/

.skill-header-box{
    padding: 11.6rem 0 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-header{
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
}

.skill-para{
    font-size: 1.6rem;
    color: #fff;
}
.skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0 9.6rem; */
}
.menu{
    position: relative;
    width: 58rem;
    height: 58rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle{
    position: relative;
    width: 6rem;
    height: 6rem;
    background: #e6e6e6;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.25s;
}

.share-icon{
    color: #000;
    font-size: 3.2rem;
    justify-self: center;
    align-self: center;
}

.menu.active .toggle
{
    transform: rotate(360deg);
    box-shadow: 0 .5rem .8rem rgb(44, 240, 0),0 0 0 .2rem rgb(44, 240, 0);
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: .5s;
    transform: rotate(calc(360deg/8* var(--i)));
    transform-origin: 29rem;
    scale: 0;
    transition-delay: calc(.1s * var(--i));
}
.menu.active li{
    scale: 1;
}
.menu li span{
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-8* var(--i)));
}
.menu li img{
    width: 4.4rem;
    height: auto;
    background: none;
}

.particles-js-canvas-el{
    position: absolute;
}

/*---------------------- section-Contact ---------------------*/
.section-contact{
    padding: 9.6rem 0;
    position: relative;
}
.contact-box{
    padding: 9.6rem;
}
.contact-heading{
    text-align: center;
    padding-top: 9.6rem;
    font-size: 3.2rem;
}
.contact-top{
    text-align: center;
    padding-bottom: 6.4rem;
    padding-top: 2.4rem;
    font-size: 1.8rem;
}
.contact-top img{
    width: 4rem;
    height: 4rem;
    position: relative;
    top: .5rem;
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 6.4rem;
    margin-bottom: 6.4rem;
}
textarea,
.cta-form input{
    position: relative;
    width: 100%;
    /* padding: 1.2rem; */
    padding: 1rem 0 1rem;
    font-size: 1.8rem;
    color: #d1cfcf;
    font-family: inherit;
    border: none;
    background: transparent;
    border-bottom: .2rem solid #2CF000;
}
.text-label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn-cta{
    padding-bottom: 9.6rem;
}

.cta-form label{

    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all .2s;
}

/*---------------------- section-Footer ---------------------*/

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
footer p{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem;
}

/*---------------------- Scrolling Effect---------------------*/

.box{
    transform: translateX(-400%);
    transition: all 1s ease;
}
.box.show{
    transform: translateX(0);
}

.section-project .box{
    transform: translateX(300%);
    transition: all 1s ease;
}

.section-project .box.show{
    transform: translateX(0);
}